:root {
    --primary-color: #222226;
    --secondary-color: #eeeeee;
    --background-color: #222226;
    --tint-color: #2AB047;
    --tint-color-darker: #219139;
    --header-color: #393939;
    --header-color-highlight: #4d4d4d;
    --footer-color: #393939;
    --header-height: 60px;
    --footer-height: 35px;
    --card-color-normal: #2c2c30;
    --card-color-hover: #343438;
    --roboto-medium: "Roboto Medium";
    --roboto-regular: "Roboto Regular";
    --poppins-extrabold: "Poppins ExtraBold"
}

html, body {
    font-family: var(--roboto-regular);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--poppins-extrabold);
}

body {
    background-color: var(--background-color);
}

a, .btn-link {
    color: #0071c1;
}

.content-wrapper {
    padding: 2em;
    padding-left: 10em;
    padding-right: 10em;
}

@media only screen and (max-width: 900px) {
    .content-wrapper {
        padding: 0.8em;
    }
}

/* SHARED CSS ELEMENT STYLES */
.submit-button {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    background-color: var(--tint-color);
    color: white;
    border-radius: 4px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    margin: 4px;
    font-family: var(--poppins-extrabold);
}

    .submit-button:hover {
        color: white;
        background-color: var(--tint-color-darker)
    }

.input-field {
    display: flex;
    width: auto;
    height: 40px;
    border-radius: 10px;
    background: none;
    background-color: var(--card-color-normal);
    color: var(--secondary-color);
    border: none;
    outline: none;
    outline-width: 2px;
    outline-style: solid;
    outline-color: #17171a;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--roboto-regular);
}

    .input-field::placeholder {
        color: rgb(255, 255, 255, 70);
        font-family: var(--roboto-regular);
    }

.field-label {
    font-family: var(--roboto-regular);
}

h1 {
    outline: none;
}
