<div class="footer">
    <div class="made-by">
        <p>
            Made by
            <a href="https://github.com/Kalash004">Anton Kalashnikov</a>,
            <a href="https://github.com/bowguy-tech">Maxwell Olsbro</a>,
            <a href="https://github.com/BluePixelDev">Ondřej Kačírek</a>
        </p>
    </div> 
</div>