<div class="header">

    <a class="logo" href="/"></a>
    <div class="navigation">
        
        <a href="/">
            Home
        </a>

        @if (!isLoggedIn)
        {
            <a href="/signup" class="header-register">
                Sign Up
            </a>
        }
        else
        {
            <a href="/user" class="header-register">
                Dashboard
            </a>
            <button class="header-logout" @onclick=Logout>
                Log out
            </button>

            <p class="header-credits">
                @userCredits K
            </p>
        }
    </div>

    <div class="mobile-navigation @GetMenuClass()">
        <a href="/" @onclick=ToggleMenu>
            Home
        </a>

        @if (!isLoggedIn)
        {

            <a href="/signup" class="header-register" @onclick=ToggleMenu>
                Sign Up
            </a>
        }
        else
        {
            <a href="/user" class="header-register" @onclick=ToggleMenu>
                Dashboard
            </a>
        }
    </div>

    <button class="hamburger @GetMenuClass()" @onclick="ToggleMenu">
        <span></span>
        <span></span>
        <span></span>
    </button>

</div>
<div class="header-space"></div>

@code {
    private bool isMenuShown;
    private bool isLoggedIn;
    private int userCredits = 0;

    protected override void OnInitialized()
    {
       
    }

    private void Logout()
    {
        
    }

    private void ToggleMenu()
    {
        isMenuShown = !isMenuShown;
    }

    private string GetMenuClass()
    {
        return isMenuShown ? "menu-shown" : "";
    }
}