@using TaskelDB.Models;

<div class="service-wrapper">
    <a href="/service/@serviceID">

        <div>
            <h3>@serviceName</h3>
            <p>By:@serviceOwner</p>
            <p>@serviceDescription</p>
        </div>

        <div class="service-price">
            <p>@servicePrice K</p>
        </div>
    </a>
</div>

@code {
    [Parameter] public ServiceModel? serviceModel { get; set; }

    private long serviceID = -1;
    private string serviceName = "";
    private string serviceOwner = "";
    private string serviceDescription = "";
    private int servicePrice;

    protected override void OnInitialized()
    {
        serviceID = serviceModel != null ? serviceModel.ID : -1;
        serviceName = serviceModel != null ? serviceModel.Ser_Name : "";
        serviceOwner = serviceModel != null ? "" + serviceModel?.UserModel?.Name : "";
        serviceDescription = serviceModel != null ? serviceModel.Short_Description : "";
        servicePrice = serviceModel != null ? serviceModel.Current_Price : 0;
    }
}
