@using TaskelDB.Models.Service;

<div class="service-wrapper">
    <a href="/service/@serviceID">

        <div>
            <h3>@serviceName</h3>
            <p>By:@serviceOwner</p>
            <p>@serviceDescription</p>
        </div>

        <div class="service-price">
            <p>@servicePrice K</p>
        </div>
    </a>
</div>

@code {
    [Parameter] public ServiceModel? ServiceModel { get; set; }

    private long serviceID = -1;
    private string serviceName = "";
    private string serviceOwner = "";
    private string serviceDescription = "";
    private int servicePrice;

    protected override void OnParametersSet()
    {
        serviceID = ServiceModel != null ? ServiceModel.ID : -1;
        serviceName = ServiceModel != null ? ServiceModel.Ser_Name : "";
        serviceOwner = ServiceModel != null ? "" + ServiceModel?.UserModel?.Name : "";
        serviceDescription = ServiceModel != null ? ServiceModel.Short_Description : "";
        servicePrice = ServiceModel != null ? ServiceModel.Current_Price : 0;
    }
}
