@using TaskelDB.DAO;
@using TaskelDB.Models.Service;

@page "/category/music/"
@page "/category/music/{PageID:int}"

<div class="content-wrapper">
    <h3 class="text-align-center">Music</h3>
    <ServicesList Services=services />
</div>


@code {
    [Parameter] public int PageID { get; set; } = 0;
    ServiceModel[] services = [];

    protected override void OnInitialized()
    {
        services = ServiceDAO.GetServicesOnCategoryPage(PageID, 10, ServiceCategory.Music).ToArray();
    }
}
