<PageTitle>404 - Not Found</PageTitle>

<Theme />
<div class="site-wrapper">
    <div class="content-wrapper">

        <h1 class="error-text"> 404 </h1>
        <p>It seems this pages doesn't exist.</p>
        <a href="/">Return home</a>

    </div>
</div>

