.hero-image {
    width: 100%;
    height: 600px;
    background-image: url("/Images/Background/Background Image.png");
    background-size: cover;
    background-position: 50% 20%;

    padding: 10em;
}

.hero-title {
    text-align: center;
}