@using System.Security.Claims;

@page "/"

<div class="hero-content">
    <div class="hero-image"> </div>
    <div class="hero-image-content"> 
        <div class="hero-logo"></div>
        <h1>Outsource It!</h1>

        <div class="hero-buttons"> 
            <a class="submit-button nav" href="/explore">Explore</a>
        </div>

        <div class="alien alien-a">
            <div class="alien-image alien-a">

            </div>
        </div>

        <div class="alien alien-b">
            <div class="alien-image alien-b">
            </div>
        </div>

    </div>
</div>
