.login-wrapper {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    justify-content: center;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100vw;
}
.login-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 500px;
    justify-content: center;
    padding: 10px;
    gap: 15px;
}
.login-form h1 {
    text-align: center;
}
.submit-button {
    max-width: 250px;
    align-self: center;
}