.services-wrapper {
    display: grid;
    margin-top: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;

    gap: 10px;
}
@media only screen and (max-width: 900px){
    .services-wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 600px) {
    .services-wrapper {
        grid-template-columns: 1fr;
    }
}