@page "/";
@using ServerManagement;
@using DataTemplateLibrary.Models;
@inject ServerManager serverManger;

<div class="services-wrapper">
    @foreach(DBService? service in serverManger.GetAllServices())
    {
        if(service != null)
        {
            if ((service.IsShown) && (!service.IsDeleted))
            {
                <ServiceCard Service=service />
            }
        }   
    }
</div>