@page "/service/{ServiceID:int}"

@inject NavigationManager NavManager;
@inherits ServicePage;

<div class="service-wrapper">

    <div class="service-upper-wrapper">
        <h1 class="service-heading">ServiceName</h1>
        <h2 class="price-tag">ServicePrice K</h2>
    </div>
    <div class="service-lower-wrapper">
        <p class="label">Description</p>

        <p>ServiceLongDescription</p>
            <button class="submit-button" @onclick="buyService">buy service</button>

        @if (WarningText == "not enought credits")
        {
            <button class="submit-button" @onclick="buyCredits">buy credits</button>
        }
        
        @if (!string.IsNullOrEmpty(WarningText))
        {
            <ErrorBox message=@WarningText />
        }
    </div>
</div>

@code {
    public string WarningText{ get; set; }
    private void buyService()
    {
       
    }

    private void buyCredits()
    {
        NavManager.NavigateTo("/user/credit");
    }

    private void CheckLoggedIn()
    {
       
    }
}