@page "/shop";
@using System.Security.Claims
@using TaskelDB.DAO;
@using Taskel.Authentication;
@using Taskel.Services;

@inject NavigationManager navManager;
@inject CreditService creditService;

<div class="margin-top-medium">
    <h1 class="text-align-center">Shop</h1>

    <div class="shop-packages">
        <div class="shop-package" @onclick="() => BuyCredits(100)">
            <h1 class="text-align-center">Small</h1>
            <h6>100 K</h6>
            <h6>50 Kč</h6>
        </div>

        <div class="shop-package" @onclick="() => BuyCredits(500)">
            <h1 class="text-align-center">Medium</h1>
            <h6>500 K</h6>
            <h6>250 Kč</h6>
        </div>

        <div class="shop-package" @onclick="() => BuyCredits(1000)">
            <h1 class="text-align-center">Big</h1>
            <h6>1000 K</h6>
            <h6>500 Kč</h6>
        </div>
    </div>

</div>

@code {
    private int userID;
    [CascadingParameter] private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (authenticationState != null)
        {
            var authState = await authenticationState;
            if (authState.User?.Identity?.IsAuthenticated ?? false)
            {
                var userIdClaim = authState.User?.FindFirst(ClaimTypes.NameIdentifier);
                userID = Convert.ToInt32(userIdClaim?.Value);
            }
            else
            {
                navManager.NavigateTo("/signup");
            }
        }
    }

    private void BuyCredits(int amount)
    {
        creditService.BuyCredits(userID, amount);
        navManager.NavigateTo("/");
    }
}
