@using TaskelDB.DAO;
@using TaskelDB.Models.Service;
@using Taskel.Authentication;
@using System.Security.Claims;

@inject NavigationManager NavManager;

@page "/service/create"

<div class="content-wrapper">
    <div class="center-absolute create-popup">

        <h2 class="text-align-center">Create</h2>
        <label class="field-label" for="edit-name">Name</label>
        <input class="input-field create-field" type="text" @bind="serviceName" />

        <label class="field-label" for="edit-name">Price</label>
        <input class="input-field number-field create-field" type="number" @bind="currentPrice" />

        <label class="field-label" for="edit-name">Description</label>
        <textarea class="input-field create-field description-area" @bind="serviceDesc" />

        <label class="field-label" for="selectedValue">Category</label>
        <select class="category-select" id="selectedValue" value="@serviceCategory" @onchange="ChangeCategory">
            @foreach (var option in Enum.GetValues(typeof(ServiceCategory)).Cast<ServiceCategory>())
            {
                <option value="@option">@option.ToString()</option>
            }
        </select>

        <p style="color:red;">@WarningText</p>
        <button class="submit-button" @onclick="CreateService">Create</button>
        <a class="submit-button" href="/dashboard">Cancel</a>
    </div>
</div>


@code {
    [CascadingParameter] private Task<AuthenticationState>? authenticationState { get; set; }

    private string serviceName = "";
    private string serviceDesc = "";
    private int currentPrice = 0;
    private ServiceCategory serviceCategory { get; set; } = ServiceCategory.Uncategorized;

    ServiceDAO serviceDAO = new();
    ServiceModel serviceModel = new();
    private string WarningText = "";

    private int userID;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (authenticationState != null)
        {
            var authState = await authenticationState;
            if (authState.User?.Identity?.IsAuthenticated ?? false)
            {
                var userIdClaim = authState.User?.FindFirst(ClaimTypes.NameIdentifier);
                userID = Convert.ToInt32(userIdClaim?.Value);
            }
            else
            {
                NavManager.NavigateTo("/signup");
            }
        }
    }

    private void ChangeCategory(ChangeEventArgs e)
    {
        if (e != null && e.Value != null)
        {
            if (Enum.TryParse<ServiceCategory>(e.Value.ToString(), out ServiceCategory result))
            {
                serviceCategory = result;
                return;
            }
        }
        serviceCategory = ServiceCategory.Uncategorized;
    }

    public void CreateService()
    {
        string shortDesc = serviceDesc.Substring(0, Math.Min(serviceDesc.Length, 47));
        if (serviceDesc.Length > 47) shortDesc += "...";

        serviceModel.Ser_Name = serviceName;
        serviceModel.Short_Description = shortDesc;
        serviceModel.Long_Description = serviceDesc;
        serviceModel.Current_Price = currentPrice;
        serviceModel.Category = (int)serviceCategory;

        if (serviceModel.Ser_Name.Length < 3)
        {
            WarningText = "Name is too short (min 3 characters)";
            return;
        }
        if (serviceModel.Ser_Name.Length > 20)
        {
            WarningText = "Name is too long (max 20 characters)";
            return;
        }
        if (serviceModel.Short_Description.Length > 50)
        {
            WarningText = "Short description is too long (max 50 characters)";
            return;
        }
        if (serviceModel.Long_Description.Length > 500)
        {
            WarningText = "Long descrition is too long (max 500 characters)";
            return;
        }
        if (serviceModel.Current_Price > int.MaxValue)
        {
            WarningText = "Price is over the maximum";
            return;
        }

        serviceModel.User_ID = userID;
        serviceModel.Category = (int)serviceCategory;   
        serviceDAO.Create(serviceModel);
        NavManager.NavigateTo("/dashboard");
    }
}

