.edit-popup {
    max-width: 500px;
    width: 100vw;
}

.category-select {
    display: flex;
    width: auto;
    height: 40px;
    border-radius: 10px;
    background: none;
    background-color: var(--card-color-normal);
    color: var(--secondary-color);
    border: none;
    outline: none;
    padding: 5px;
}

.category-select option {
    font-family: var(--roboto-regular);
}

.edit-field {
    width: 100%;
}

.description-area {
    height: 200px;
    resize: none;
}

.number-field::-webkit-outer-spin-button,
.number-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-field[type=number] {
    -moz-appearance: textfield;
}
